* {
  font-family: 'Raleway', sans-serif;
  background: url('../img/wood.jpeg');
  background-repeat: none;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 110px;
  text-align: center;
  font-family: 'Bree Serif', serif;
}

p {
  text-align: center;
  color: #68c3b9;
  font-weight: bold;
}

div {
  text-align: center;
  line-height: 110px;
  color: grey;
}

.wrapper {
  text-align: center;
}