* {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 110px;
  text-align: center;
  font-family: 'Bree Serif', serif;
}

div {
  text-align: center;
  color: #68c3b8;
  line-height: 10px;
  font-weight: bold;
}

p {
  text-align: center;
  line-height: 110px;
  color: grey;
}

.buttons {
  text-align: center;
}