* {
  font-family: 'Raleway', sans-serif;
  background: url('../img/wood.jpeg');
  background-repeat: none;
  background-attachment: fixed;
  background-size: cover;
}

section {
  line-height: 0px;
  padding: 50px;
}

h1 {
  font-size: 110px;
  text-align: center;
  font-family: 'Bree Serif', serif;
}

p {
  text-align: center;
  color: #3AA5B0;
  font-weight: bold;
  letter-spacing: 1.9px;
}

div, .looking {
  text-align: center;
  line-height: 110px;
  color: #000;
}

.buttons {
  text-align: center;
  line-height: 40px;
  padding: 10px;
}

input {
  border-color: #000;
  height: 65px;
  width: 200px;
  font-size: 15px;
}

input:hover {
  color: #3AA5B0;
  border-color: #3AA5B0;
}

footer {
  text-align: center;
  color: #000;
}